// Default black theme

// Color variables
$black: #002b36;
$light-black: #262626;

$white: #fdf6e3;
$dark-white: #eee8d5;

$red: #cb4b16;
$light-red: #d56e44; // light red-orange: d67632    #994000;
$yellow: #b58900;
$cyan: #008b8b; //#2aa198;
$light-cyan: #2ea0a0;

// https://www.colorhexa.com/cc5500

// added by Baird for code formatting

$theme-main: $red !default; //$cyan !default;
$theme-light-main: $light-red !default; //$light-cyan !default;
$theme-white: $white !default;
$theme-dark-white: $dark-white !default;
$theme-black: $black !default;
$theme-light-black: $light-black !default;

///// WHITE BACKGROUND

// try to change below as little as possible...
// $site-background-color: $theme-white;
// $color-code: $theme-light-main !default;
// $color-code-background: $theme-dark-white !default;
// 
// // Config
// $color-background: $theme-main !default;
// $color-dot-accent: $theme-black !default;
// $color-title: $theme-white !default;
// $color-body-text: $theme-black !default;
// $color-text-accent: $theme-main !default;
// 
// $color-nav-link: $theme-white !default;
// $color-nav-link-hover: $theme-black !default;
// 
// $color-primary-link: $theme-main !default;
// $color-primary-link-hover: $theme-black !default;
// 
// // stolen from variables.scss
// // Default border color
// $color-border: $theme-main !default;

///// BLACK BACKGROUND

$site-background-color: $theme-black;
$color-code: $theme-light-main !default;
$color-code-background: $theme-light-black !default;

// Config
$color-background: $theme-main !default;
$color-dot-accent: $theme-white !default;
$color-title: $theme-black !default;
$color-body-text: $theme-white !default;
$color-text-accent: $theme-main !default;

$color-nav-link: $theme-black !default;
$color-nav-link-hover: $theme-main !default;

$color-primary-link: $theme-main !default;
$color-primary-link-hover: $theme-black !default;

// stolen from variables.scss
// Default border color
$color-border: $theme-main !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
