// Default black theme

// Color variables
$black: #1e1e1e;
//$red: #D56900;
$red: #cc5500;
$red-light: #d67632; //#994000;
$white: #f9f9f9;

// https://www.colorhexa.com/cc5500

// Config
$color-background: $red !default;
$color-dot-accent: $black !default;
$color-foreground: $black !default;
$color-title: $white !default;
$color-body-text: $black !default;
$color-text-accent: $red-light !default;
$color-code: $red-light !default;
$color-nav-link: $white !default;
$color-primary-link: $red !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
