// Default black theme

// Color variables
$black: #002b36;
$red: #cb4b16;
$white: #fdf6e3;
$dark-white: #eee8d5;

$yellow: #b58900;
$cyan: #2aa198;

$light-red: #d56e44; // light red-orange: d67632    #994000;

// https://www.colorhexa.com/cc5500

// added by Baird for code formatting
$theme-red: $red !default;
$theme-cyan: $cyan !default;
$theme-light-red: $light-red !default;
$theme-light-cyan: $yellow !default;
$theme-dark-white: $dark-white !default;

$theme-main: $theme-red !default;
$theme-white: $white !default;
$theme-black: $black !default;





// try to change below as little as possible...
$site-background-color: $theme-white;// baird theme#f9f9f9;

$color-code: $theme-light-red !default;
$color-code-background: $theme-dark-white !default;

// Config
$color-background: $theme-red !default;
$color-dot-accent: $theme-black !default;
//$color-foreground: $theme-black !default;
$color-title: $theme-white !default;
$color-body-text: $theme-black !default;
//$color-text-accent: $light-red !default;
$color-text-accent: $theme-red !default;

$color-nav-link: $theme-white !default;
$color-nav-link-hover: $theme-black !default;

$color-primary-link: $theme-red !default;
$color-primary-link-hover: $theme-black !default;

// stolen from variables.scss
// Default border color
$color-border: $theme-red !default; //#ddd !default;

// Import sass partials (used in all themes)
@import
        "variables",
        "base",
        "components",
        "utilities"
;
